<connectionStrings>
  <clear />
  <add name="OdmConnection2" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=plaveninycz1;Integrated Security=True;"
   providerName="System.Data.SqlClient" />
  <add name="OdmConnection" connectionString="Data Source=sql4.aspone.cz;Initial Catalog=db1856;User Id=db1856;Password=2c506bbe;"
   providerName="System.Data.SqlClient" />
  <add name="FileConnection1" connectionString="C:\temp\data"/>
  <add name="FileConnection" connectionString="D:\Websites\448cf9624b\www\data"/>
</connectionStrings>
