<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  <rewrite>
    <rules>
        <rule name="admin.hydrodata.info" stopProcessing="true">
            <match url=".*" />
            <conditions>
                <add input="{HTTP_HOST}" pattern="^admin.hydrodata.info$" />
                <add input="{PATH_INFO}" pattern="^/admin/" negate="true" />
            </conditions>
            <action type="Rewrite" url="\admin\{R:0}" />
        </rule>
    </rules>
  </rewrite>
  </system.webServer>
</configuration>