<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
	</configSections>
	<urlrewritingnet rewriteOnlyVirtualUrls="false" contextItemsPrefix="QueryString" defaultPage="static_list.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
		<rewrites>
			<add name="RedirectInApplication" virtualUrl="^~/Default.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/cz/" redirect="Application" redirectMode="Permanent" ignoreCase="true"/>
			<add name="r001" virtualUrl="^~/(en|cz)/Default\.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/start.aspx?lang=$1" ignoreCase="true"/>
			<add name="r002" virtualUrl="^~/(en|cz)/start/Default\.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/start.aspx?lang=$1" ignoreCase="true"/>
			<add name="r003" virtualUrl="^~/(en|cz)/(stations|stanice)/(snih|snow|dest|rain|srazky|precip|stav|vodni-stav|hladina|stage|water-stage|prutok|flow|discharge)/o(\d{1})\.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/station_list.aspx?lang=$1&amp;var=$3&amp;order=$4" ignoreCase="true"/>
			<add name="r004" virtualUrl="^~/(en|cz)/(stations|stanice)/(snih|snow|dest|rain|srazky|precip|stav|vodni-stav|hladina|stage|water-stage|prutok|flow|discharge)/Default\.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/station_list.aspx?lang=$1&amp;var=$3" ignoreCase="true"/>
			<add name="r005" virtualUrl="^~/(en|cz)/(stations|stanice)/Default\.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/station_list.aspx?lang=$1" ignoreCase="true"/>
			<add name="r006" virtualUrl="^~/(en|cz)/(about|cil-stranek)/Default\.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/about.aspx?lang=$1" ignoreCase="true"/>
			<add name="r007" virtualUrl="^~/(en|cz)/(snih|snow|dest|rain|srazky|precip|water-stage|stage|hladina|vodni-stav|stav)/Default\.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/graf.aspx?lang=$1&amp;var=$2" ignoreCase="true"/>
			<add name="r008" virtualUrl="^~/(en|cz)/(water-stage|stage|flow|hladina|stav|vodni-stav|prutok)/([a-z_-]+/[a-z_-]+)/(\d{8})/(\d+(d|w))\.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/graf.aspx?lang=$1&amp;var=$2&amp;st=$3&amp;t=$4&amp;dt=$5" ignoreCase="true"/>
			<add name="r009" virtualUrl="^~/(en|cz)/(water-stage|stage|flow|hladina|stav|vodni-stav|prutok)/([a-z_-]+/[a-z_-]+)\.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/graf.aspx?lang=$1&amp;var=$2&amp;st=$3" ignoreCase="true"/>
			<add name="r010" virtualUrl="^~/(en|cz)/(snih|snow|dest|rain|srazky|precip|water-stage|stage|vodni-stav|flow|prutok)/([a-z_-]+)\.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/graf.aspx?lang=$1&amp;var=$2&amp;st=$3" ignoreCase="true"/>
			<add name="r011" virtualUrl="^~/(en|cz)/(snih|snow|dest|rain|srazky|precip|water-stage|stage|vodni-stav|flow|prutok)/([^/]+)/(\d{8})/(\d+(d|w))\.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/graf.aspx?lang=$1&amp;var=$2&amp;st=$3&amp;t=$4&amp;dt=$5" ignoreCase="true"/>
		</rewrites>
	</urlrewritingnet>
	<connectionStrings>
		<add name="connstr1" connectionString="data source=.\SQLEXPRESS; Initial Catalog=plaveninycz; User Id=plaveninycz; password=Ziqwdwq1" providerName="System.Data.SqlClient"/>
		<add name="connstr2" connectionString="Data Source=(local); Initial Catalog=plaveninycz; User ID=plaveninycz; password=gf1qo2i3q;" providerName="System.Data.SqlClient"/>
		<add name="connstr3" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=plaveninycz1;User Id=sa; password=2c506bbe" providerName="System.Data.SqlClient"/>
		<add name="connstr4" connectionString="Data Source=62.168.63.199; Initial Catalog=plaveninycz; User ID=plaveninycz; password=gf1qo2i3q;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<httpModules>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
		</httpModules>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<customErrors mode="Off"/>
	</system.web>
	<appSettings>
		<add key="chart_url" value="http://localhost/img"/>
	</appSettings>
</configuration>
