<connectionStrings>
  <clear />
  <add name="ODDB" connectionString="Data Source=.\SQLEXPRESS;Database=LittleBear11;User=webservice;password=webservice"
   providerName="System.Data.SqlClient" />
  <add name="OdmConnection_old" connectionString="Data Source=sql2005.dotnethosting.cz;Initial Catalog=plaveninycz1;User Id=plaveninycz1;Password=Ziqwdwq1;"
   providerName="System.Data.SqlClient" />


  <add name="OdmConnection"
  connectionString="server=192.168.1.6;uid=db1468;pwd=AnnAgnps(v2);database=db1468"
  providerName="Mysql.Data.MySqlClient" />
  
  <add name="OdmConnection2"
         connectionString="Server=meteodata.db.7678490.hostedresource.com;Database=meteodata;Uid=meteodata;Pwd=AnnAgnps(v2); Port=3306"
         providerName="Mysql.Data.MySqlClient" />
  
  <add name="OdmConnection_mysql"
       connectionString="Server=localhost;Database=meteodata;Uid=hydrometeodata;Pwd=2c506bbe; Port=3307"
       providerName="Mysql.Data.MySqlClient" />
</connectionStrings>
