<connectionStrings>
  <clear />
  <add name="OdmConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=plaveninycz1;Integrated Security=True;"
   providerName="System.Data.SqlClient" />
  <add name="OdmConnection2" connectionString="Data Source=sql2005.dotnethosting.cz;Initial Catalog=plaveninycz1;User Id=plaveninycz1;Password=Ziqwdwq1;"
   providerName="System.Data.SqlClient" />
</connectionStrings>
