@{
    ViewBag.Title = "Home Page";
}

Observations 

<ul>
    <li><a href="/Temperature">Edit Temperature</a></li>
    <li><a href="/Stage">Edit Stage</a></li>
    <li><a href="/Discharge">Edit Discharge</a></li>
    <li><a href="/Snow">Edit Snow</a></li>
    <li><a href="/DailyRainfall">Edit Daily Rainfall</a></li>
    <li><a href="/HourlyRainfall">Edit Hourly Rainfall</a></li>
    <li><a href="/Station">Edit Station</a></li>
</ul>

<a href="/Radar">Radar module</a>
<br />
<a href="/Log">Log page</a>
<br />

<a href="/MvcMembership/UserAdministration">User managment</a>